{% set php = salt['pillar.get']('php', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'pkgs':{
                'fpm': 'php5-fpm',
                'mysql': 'php5-mysql',
                'gd': 'php5-gd',
                'cli': 'php5-cli',
                'mcrypt': 'php5-mcrypt',
                'intl': 'php5-intl',
                'imap': 'php5-imap'
            },
            'fpm': {
                'conf': '/etc/php5/fpm/php-fpm.conf',
                'ini': '/etc/php5/fpm/php.ini',
                'pool_dir': '/etc/php5/fpm/pool.d',
                'service': 'php5-fpm'
            },
        },
        'RedHat': {
            'pkgs':{
                'fpm': 'php-fpm',
                'mysql': 'php-mysql',
                'gd': 'php-gd',
                'cli': 'php-cli'
            },
            'fpm': {
                'conf': '/etc/php-fpm.conf',
                'ini': '/etc/php.ini',
                'pool_dir': '/etc/php-fpm.d',
                'service': 'php-fpm'
            },
        },
    }, default='RedHat' )
}, merge=True) %}