nginx:
  lookup:
    vhost_available: /etc/nginx/sites-available
    vhost_enabled: /etc/nginx/sites-enabled
  server:
    # debian|nginx: debian install from debian, nginx add nginx repository for both debian and centos
    source: debian
    example_files: False
  website:
    mywordpress:
      type: php
      socket: unix:/tmp/fpm-socket.sock
      server_name: www.mywordpress.com
      root_dir: /var/www/mywordpress
      ssl: True|False
      ssl_type: self-signed|verified
      # Set empty if you are using a verified crt
      ssl_dir: /etc/ssl/example_gitlab
      # Set empty if you are using a self-signed crt
      ssl_crt: |
            -----BEGIN CERTIFICATE-----
            ...
            -----END CERTIFICATE-----
      # Set empty if you are using a self-signed key
      ssl_key: |
            -----BEGIN RSA PRIVATE KEY-----
            ...
            -----END RSA PRIVATE KEY-----
      # Optional redirect from an old website
      redirect: www.olddomain.com
    myflask:
      type: python
      socket: 127.0.0.1:9000
      server_name: www.myflaskapp.com
      python_dir: /var/www/mypythonapp
      # Python location for nginx. In this case will be www.myflaskapp.com/api
      python_location: /api
      # If you don't have a static folder, use the python_dir and set the location to /
      static_dir: /var/www/archon_frontend
      # Optional redirect from an old website
      # TODO: add support for multiple redirect
      redirect: www.olddomain.com
      htaccess:
        enable: True
        file: /path/to/htaccess
        user:
          user1: password1
          user2: password2