nginx:
  server:
    example_files: False
  website:
    mywordpress:
      type: php
      server_name: www.mywordpress.com
      root_dir: /var/www/mywordpress
      # Optional redirect from an old website
      redirect: www.olddomain.com
    myflask:
      type: python
      server_name: www.myflaskapp.com
      python_dir: /var/www/mypythonapp
      # Python location for nginx. In this case will be www.myflaskapp.com/api
      python_location: /api
      # If you don't have a static folder, use the python_dir and set the location to /
      static_dir: /var/www/archon_frontend
      # Optional redirect from an old website
      redirect: www.olddomain.com