{% set ntp = salt['pillar.get']('ntp', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'package': 'ntp',
            'service': 'ntp',
            'conf_file': '/etc/ntp.conf'
        },
        'RedHat': {
            'package': 'ntp',
            'service': 'ntpd',
            'conf_file': '/etc/ntp.conf'
        },
    }, default='RedHat' ),
}, merge=True) %}