{% set openssl = salt['pillar.get']('openssl', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'package': 'openssl'
        },
        'RedHat': {
            'package': 'todo'
        },
    }, default='RedHat' )
}, merge=True) %}