{% set openssl = salt['pillar.get']('openssl', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'package': 'openssl',
            'python_openssl': 'python-openssl'
        },
        'RedHat': {
            'package': 'openssl',
            'python_openssl': 'pyOpenSSL'
        },
    }, default='RedHat' )
}, merge=True) %}