openssl:
  ca:
    cert_name:
      type: self-signed
      bits: number of RSA key bits, Default is 2048
      days: number of days the CA will be valid, Default is 365
      cacert_path: absolute path to ca certificates root directory
      CN: mail.example.com