{% set asterisk = salt['pillar.get']('asterisk', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'package': 'asterisk'
        },
        'RedHat': {
            'package': 'asterisk',
            'user': 'asteriskpbx'
        },
    }, default='RedHat' ),
}, merge=True) %}