{% set postgresql = salt['pillar.get']('postgresql', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'server': 'postgresql-9.4',
            'server_service': 'postgresql',
            'contrib': 'postgresql-contrib-9.4',
            'devel': 'postgresql-server-dev-9.4',
            'python': 'python-dev',
            'postgis': 'postgresql-9.4-postgis-2.1',
            'conf_dir': '/etc/postgresql/9.4/main',
            'profile_dir': '/etc/profile.d'
        },
        'RedHat': {
            'server': 'postgresql93-server',
            'server_service': 'postgresql-9.3',
            'contrib': 'postgresql93-contrib',
            'devel': 'postgresql93-devel',
            'python': 'python-devel',
            'postgis': 'postgis2_93',
            'conf_dir': '/var/lib/pgsql/9.3/data',
            'profile_dir': '/etc/profile.d'
        },
    }, default='RedHat' )
}, merge=True) %}