postgresql:
  server:
    install: True
    postgis: True
    # This will add the postgis and postgis_topology extensions to the selected db
    postgis_db: ['db1', 'db2']

  database:
    db1:
      owner: 'localUser'
      lc_ctype: 'UTF-8'
      lc_collate: 'UTF-8'

    db2:
      owner: 'remoteUser'
      lc_ctype: 'UTF-8'
      lc_collate: 'UTF-8'

  # Manage roles
  user:
    localUser:
      password: 'somepass'
    remoteUser:
      password: 'otherpass'

  acl:
    - ['local', 'db1', 'localUser']
    - ['host', 'db2', 'remoteUser', '123.123.0.0/24']

  restore:
    db_to_restore1:
      backup_name: backup.sql
      file: /path/to/backup
