{% set postfix = salt['pillar.get']('postfix', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'package': 'postfix',
            'mysql': 'postfix-mysql',
            'swaks': 'swaks',
            'conf_dir': '/etc/postfix'
        },
        'RedHat': {
            'package': 'postfix'
        },
    }, default='RedHat' )
}, merge=True) %}