{% set postfix = salt['pillar.get']('postfix', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'package': 'postfix'
        },
        'RedHat': {
            'package': 'postfix',
            'perl-script': 'nginx',
            'webuser': 'nginx',
            'conf_file': '/etc/nginx/nginx.conf',
            'vhost_available': '/etc/nginx/conf.d',
            'vhost_enabled': '/etc/nginx/conf.d',
            'vhost_use_symlink': False,
        },
    }, default='RedHat' ),
    'server': {
        'example_files': False
    },
}, merge=True) %}