postfix:
  vmail_user: vmail
  vmail_group: vmail
  ssl_dir: /etc/ssl/archon_mta
  db:
    user: mailuser
    password: gfdc8998dsf89
    database: mailserver
    host: localhost
  domain:
    - example.com
    - example.org
  user:
    joe:
      domain: example.org
      password: test1
    bill:
      domain: example.com
      password: test2
  alias:
      - [example.org, joe@example.org, joe@gmail.com]
      - [example.com, bill@example.com, bill@yahoo.com]
