postfix:
  vmail_user: vmail
  vmail_group: vmail
  ssl_type: self-signed|verified
  # Set empty if you are using a verified crt
  ssl_dir: /etc/ssl/example_gitlab
  # Set empty if you are using a self-signed crt
  ssl_crt: |
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----
  # Set empty if you are using a self-signed key
  ssl_key: |
    -----BEGIN RSA PRIVATE KEY-----
    ...
    -----END RSA PRIVATE KEY-----
  # Set empty if you are using a self-signed key
  ssl_ca: |
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----
  host: mail.example.com
  mail_domain: example.com
  public_ip: 123.456.789.123
  db:
    user: mailuser
    password: gfdc8998dsf89
    database: mailserver
    host: localhost
  domain:
    - example.com
    - example.org
  user:
    - [example.org, username1_without_@, password1]
    - [anotherdomain.com, username2_without_@, password2]
  alias:
    - [example.org, joe@example.org, joe@gmail.com]
    - [example.com, bill@example.com, bill@yahoo.com]
  plugins:
    dkim: True
    cluebringer: inet:127.0.0.1:10031
