{% set roundcube = salt['pillar.get']('roundcube', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'package': 'roundcube',
            'plugins': 'roundcube-plugins',
            'conf_dir': '/etc/roundcube',
            'user': 'www-data',
            'group': 'www-data'
        },
        'RedHat': {
            'package': 'todo'
        },
    }, default='RedHat' )
}, merge=True) %}