{% set mysql = salt['pillar.get']('mysql', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'package': 'mysql'
        },
        'RedHat': {
            'server': 'mysql-server',
            'server_service': 'mysqld',
            'python': 'MySQL-python',
            'conf_file': '/etc/mysql/my.cf'
        },
    }, default='RedHat' ),
}, merge=True) %}